* {
    margin: 0px;
}
@font-face {
    font-family: 'Baloo-Tammudu-Regular';
    src:url('Baloo-Tammudu-Regular.ttf.woff') format('woff'),
        url('Baloo-Tammudu-Regular.ttf.svg#Baloo-Tammudu-Regular') format('svg'),
        url('Baloo-Tammudu-Regular.ttf.eot'),
        url('Baloo-Tammudu-Regular.ttf.eot?#iefix') format('embedded-opentype'); 
        font-weight: normal;
        font-style: normal;
}
h1 {
    font-family: 'Baloo-Tammudu-Regular';
    font-size: 2.2em;
    font-style: normal;
    font-weight: 100;
    color: #fff;  
    margin-top: 0.5em;
    line-height: 1.5em;
}
body{
    height: 100vh;
    background-color: #555261;
}

/* HEADER */
header {
    display: flex;
    flex-direction: column;
}
.backhead {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 1em;
    background-image: url("../photo/lake.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 20%;   
    height: fit-content;    
}
.backhead a {
    display: flex;         
    align-items: center;
    width: fit-content;    
    background-image: linear-gradient(to bottom right, #9699bf  30%, #a18cd1 60%);
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 0px 1.5em;
    text-decoration: none;
}
.backhead a img {
    width: 3em;
    margin-right: 1.5em;
    margin-top: 1em;
    margin-bottom: 1em;
}
.headlist {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;    
    list-style: none;
    background-image: linear-gradient(to bottom right, #9699bf  30%, #a18cd1 60%);
    border-radius: 0 0 15px 15px;
    padding-top: 0.5em;
}
.headlist li {
    text-align: center;
}
.headlist li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
    font-family: 'Baloo-Tammudu-Regular';    
    line-height: 1.5em;
}

/* Main */
main{
    display: flex;
    flex-direction: row;
    height: 80%;
}
.Skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.Skills > div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 60%;
    height: 80%;
}
.Outils {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: fit-content;
    background-image: linear-gradient(to bottom right, #9699bf  30%, #a18cd1 60%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 15px;
    padding: 0 1em 0.5em 1em;
}
.Outils ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-left: 0;
}
.Outils ul li{
    text-align: center;
    margin: 0 1.8em;
}
.Outils ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
    font-weight: bold;    
    line-height: 1em;
}
.Compétences {
    display: flex;
    flex-direction: column;
    align-content: center;
    height: fit-content;
    background-image: linear-gradient(to bottom right, #9699bf  30%, #a18cd1 60%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 15px;
    padding: 0 1em 0.5em 1em;
}
.Compétences ul li {
    text-decoration: none;
    color: black;
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
    font-weight: bold;    
    line-height: 2em;
}
.Objectif {
    display: flex;
    flex-direction: column;
    align-content: center;    
    height: fit-content;
    background-image: linear-gradient(to bottom right, #9699bf  30%, #a18cd1 60%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 15px;
    padding: 0 1em 1.5em 1em;
}
.Objectif p {
    text-decoration: none;
    color: black;
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
    font-weight: bold;   
}
.présentation {
    display: flex;
    align-items: center;
    width: 50%;
}
.présentation div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to bottom right, #9699bf  30%, #a18cd1 60%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    padding: 0 0.8em 0.8em 0.8em;
}
.présentation div h1 {
    padding-top: 0.4em;
    line-height: 1.2em;
}
#Odomoimg {
    height: 35em;
}
#PESTELimg{
    height: 35em;    
}
#CastelFreresimg{
    height: 30em;
}
#InstallPosteimg {
    height: 30em;
}
#Biosphere7img {
    height: 30em;
}
#Biosphere7IAimg {
    height: 35em;
}
#Billetterieimg {
    width: 55em;
}
@media screen and (max-width:1100px) { 
    main {
        flex-direction: column-reverse;
        height: fit-content;
    }
    .Skills {
        width: 100%;
    }
    .Skills > div {
        width: 80%;
        height: fit-content;
        align-items: center;
    }
    .Skills > div div {
        width: 100%;
        height: fit-content;
        margin-bottom: 1em;
    }
    .présentation {
        width: 100%;
        margin-top: 2em;
        margin-bottom: 2em;
        justify-content: center;
    }
    #Odomoimg {
        height: 25em;
    }
    #Biosphere7img {
        height: 20em;
    }
    #Biosphere7IAimg {
        height: 30em;
    }
    #CastelFreresimg{
        height: 25em;
    }
    #PESTELimg{
        height: 25em;    
    }
    #InstallPosteimg {
        height: 25em;
    }
    #Billetterieimg {
        width: 45em;
    }
}
@media screen and (max-width:700px) {
    .headlist li a {
        text-decoration: none;
        color: #fff;
        font-size: 1em;
        font-family: 'Baloo-Tammudu-Regular';    
        line-height: 1em;
    }
    h1 {
        font-size: 1.5em;
    }
    .Qualités img {
        display: none;
    }
    #Odomoimg {
        height: 12em;
    }
    #Biosphere7img {
        height: 15em;
    }
    #Biosphere7IAimg {
        height: 15em;
    }
    #CastelFreresimg{
        height: 12em;
    }
    #PESTELimg{
        height: 15em;    
    }
    #InstallPosteimg {
        height: 12em;
    }
    #Billetterieimg {
        width: 20em;
    }
}